@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

.whiteText{
    color: white;
}

body{
    background-color: rgb(226, 225, 225);
    font-family: 'Bebas Neue', sans-serif;
}

.menuContent{
    padding: 2vw;
}
/* HAMBURGERICON */
/*container for the hamburgermenu*/

.hamburgerMenuBtn {
    cursor: pointer;
    position: fixed;
    height: 0.9rem;
    right: 1.5vw;
    top: 3.5vh;
    display: flex;   
}


/*creates all lines for hamburgericon*/

.hamburgerIcon {
    color: white;
    background-color: currentColor;
    height: 0.3055525rem;
    width: 3.0625rem;
    /* position: absolute; */
    border-radius: 1px;
    margin-top: -0.2rem;
    transition-duration: .22s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
}

/*on click animations*/

/*hides one line and makes a +, spins for X*/

.hamburgerIcon.active {
    transform: rotate( 225deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hamburgerIcon:before {
    height: 0.3055525rem;
    width: 3.0625rem;
    content: '';
    background-color: currentColor;
    border-radius: 1px;
    display: block;
    position: absolute;
    top: -0.9rem;
    transition: top .1s ease-in .25s, opacity .1s ease-in;
}

.hamburgerIcon.active::before {
    top: 0;
    opacity: 0;
    transition: top .1s ease-out, opacity .1s ease-out .12s;
}

.hamburgerIcon:after {
    height: 0.3055525rem;
    border-radius: 1px;
    width: 3.0625rem;
    content: '';
    background-color: currentColor;
    display: block;
    position: absolute;
    bottom: 0.05rem;
    transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
}

.hamburgerIcon.active::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
}

/*STOP HAMBURGER ICON*/

/*menu when clicking hamburgerMenu*/

.menu {
    display: block;
    position: fixed;
    background: var(--clr-dark-blue);
    top: 3rem;
    right: 0;
    color: black;
    z-index: 1;
    max-width: 30rem;
    width: 100%;
    display: flex;
    gap: 14vh;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    transition: all 250ms ease-in-out;
    transform: translateX(100%);
    background-color: white;
}

.menu.active,
.menu:focus-within {
    transform: translateX(0);
}

.header{
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    justify-content: center;
}

.secondHeader{
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}
p{
    padding: 1vw;
    text-align: center;
}
.secondHeader h1{
    font-size: 1rem;
}

h1{
    letter-spacing: 1rem;
    font-size: 7vw;
}

h2{
    font-size: 5rem;
    text-align: center;
}

h3{
    font-size: 3.5vw;
}

h4{
    font-size: 2.5rem;
}

p{
    font-size: 1.5rem;
}

.textBackground{
    background-color: black;
    width: 100%;
    margin: 0;
}
.textBackground h2{
    color: white;
    text-align: center;
}


.container{
    display: flex;
    align-items: center;
    gap: 7vw;
    padding: 0.5rem
}

.container img{
    border-radius: 50%;
    width: 20vw;
    height: 20vw;   
}

.mainContainer{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContainer{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    width: 80%;
}
.textSection{
    width: 70%;
    text-align: left;
}

.textSection p{
    text-align: left;
}

.sideSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 30%;
    color: white;
}
.sideSection img{
    max-width: 80%;
    padding: 2vw;
}

li{
    font-size: 1.5rem;
}
/*PROJECT SECTION*/
.projectContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gridContainer{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-content: center;
}

.hexagon{
    clip-path: polygon(50% 0, 101% 25%, 101% 75%, 50% 100.07%, 0 75%, 0 25%);
    overflow: hidden;
    grid-column-end: span 2;
    margin: -3vh 1vw;
    transition: transform .2s;
    display: block;
}

.hexagon:hover {
    transform: scale(1.1);

}

.hexagon:nth-child(5n + 1) {
    grid-column-start: 2;
}


.project1{
    background-image: url(/Woodlands/media/printScreen.png);
    background-size: cover;
    height: 323px;
    width: 280px;
}
.project2{
    background-image: url(/media/sabinaandersson.jpg);
    background-size: cover;
    height: 323px;
    width: 280px;
}
.project3{
    background-image: url(/media/sabinaandersson.jpg);
    background-size: cover;
    height: 323px;
    width: 280px;
}
.project4{
    background-image: url(/media/sabinaandersson.jpg);
    background-size: cover;
    height: 323px;
    width: 280px;
}
.project5{
    background-image: url(/media/sabinaandersson.jpg);
    background-size: cover;
    height: 323px;
    width: 280px;
}
.project6{
    background-image: url(/media/sabinaandersson.jpg);
    background-size: cover;
    height: 323px;
    width: 280px;
}
.project7{
    background-image: url(/media/sabinaandersson.jpg);
    background-size: cover;
    height: 323px;
    width: 280px;
}


.footerContainer{
    text-align: center;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
    padding: 2vw;   
}

footer{
    background-color: black;
    color: white;
}

.socialMedia{
    display: flex;
    flex-direction: column;
}

.socialMedia a,
 .contactContainer a{
    color: white;
    text-decoration: none;
}


.copyright{
    display: flex;
    justify-content: center;
    letter-spacing: 0.5rem;
}

i{
    font-size: 3rem;
}

a{
    color: black;
}

.subPage h1{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.smallerText{
    font-size: 0.5em;
}

@media screen and (max-width: 1024px) {
    
   h1{
       font-size: 2rem;
   } 

   h3{
       font-size: 2rem;
   }
}


@media screen and (max-width: 920px) {
    
   h1{
       font-size: 2rem;
   } 

   h3{
       font-size: 2rem;
   }

   .hexagon{
    clip-path: none;
    height: 150px;
    }

    .gridContainer{
        gap: 4.5rem 0;
    }
}

@media screen and (max-width: 780px) {
    .header{
        height: 20vh;
    }

    h1{
        font-size: 2rem;
    } 

    h2{
        font-size: 3rem;
    }
    h4{
        font-size: 1.5rem;
    }
    p, li{
        font-size: 1rem;
    }

    .container img{
        max-width: 7rem;
        max-height: 7rem;
        padding: 1vw;
    }
 
    .container h3{
        display: none;
    }

    .hexagon{
        height: 120px;
        width: 380px;
    }
 
    .gridContainer{
     display: flex;
     flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .header{
        height: 20vh;
    }

    .container{
        gap:0;
        padding: 0;
    }

    .secondHeader .container{
        padding: 0.5rem;
    }

    .footerContainer{
        flex-direction: column;
        align-items: center;
    }
    .copyright{
        text-align: center;
    }

    h1{
        font-size: 1.5rem;
    } 

    h2{
        font-size: 2rem;
    }
   
    h4{
        font-size: 1.5rem;
    }

    .sectionContainer{
        flex-direction: column;
    }
}

@media screen and (max-width: 390px) {
    .container img{
        display: none;
    }
    .header{
        height:13vh;
    }

    h1{
        font-size: 1.2rem;
    } 
    .hexagon{
        height: 120px;
        width: 310px;
    }
}