@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 225, 225);
    font-family: 'Bebas Neue', sans-serif;
    min-height: 100%;
}

/* Styling for text, links and such */
.whiteText {
    color: white;
}

h1 {
    letter-spacing: 1rem;
    font-size: 7vw;
}

h2 {
    font-size: 5rem;
    text-align: center;
}

h3 {
    font-size: 3.5vw;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    letter-spacing: 1rem;
    font-size: 12vw;
}

h6 {
    text-align: center;
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
    padding: 1.5vh;
    text-align: center;
}

i {
    font-size: 3rem;
}

a {
    color: black;
}

li {
    font-size: 1.5rem;
}

.smallerText {
    font-size: 0.5em;
}

/* HAMBURGERICON */
/*container for the hamburgermenu*/

.hamburgerMenuBtn {
    cursor: pointer;
    position: fixed;
    height: 0.9rem;
    right: 2vw;
    top: 1.8rem;
    display: flex;
    z-index: 2;
    mix-blend-mode: difference;
}


/*creates all lines for hamburgericon*/

.hamburgerIcon {
    color: white;
    background-color: currentColor;
    height: 4px;
    width: 3.0625rem;
    border-radius: 1px;
    margin-top: -0.2rem;
    transition-duration: .22s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
}

/*on click animations*/

/*hides one line and makes a +, spins for X*/

.hamburgerIcon.active {
    transform: rotate(225deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hamburgerIcon:before {
    height: 4px;
    width: 3.0625rem;
    content: '';
    background-color: currentColor;
    border-radius: 1px;
    display: block;
    position: absolute;
    top: -0.9rem;
    transition: top .1s ease-in .25s, opacity .1s ease-in;
}

.hamburgerIcon.active::before {
    top: 0;
    opacity: 0;
    transition: top .1s ease-out, opacity .1s ease-out .12s;
}

.hamburgerIcon:after {
    height: 4px;
    border-radius: 1px;
    width: 3.0625rem;
    content: '';
    background-color: currentColor;
    display: block;
    position: absolute;
    bottom: 0.05rem;
    transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
}

.hamburgerIcon.active::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
}

/*STOP HAMBURGER ICON*/

/*menu when clicking hamburgerMenu*/

.menu {
    display: block;
    position: fixed;
    background: var(--clr-dark-blue);
    top:0;
    bottom: 0;
    right: 0;
    color: black;
    z-index: 1;
    max-width: 30rem;
    width: 100%;
    height: 100vh;

    display: flex;
    gap: 14vh;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;  
    transition: all 250ms ease-in-out;
    transform: translateX(100%);
}

.menuContent {
    top: 3.6rem;
    margin-top: 3.6rem;
    padding: 2vw;
    background-color: white;
    height: 100%;
}

.menu.active,
.menu:focus-within {
    transform: translateX(0);
}

/* Header */
.header {
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Subpage / secondary header */
.secondHeader {
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}
.secondHeader h1 {
    font-size: 1rem;
}

.textBackground {
    background-color: black;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    gap: 7vw;
    padding: 0.5rem
}

.container img {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
}

.mainContainer {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 3vh;
}

.rowContainer {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    width: 80%;
    gap: 3vh;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.rowContainer p {
    font-size: 1.5rem;
}

.textSection {
    width: 80%;
    text-align: left;
}

.textSection p {
    text-align: left;
    font-size: 1.9rem;
}

.imageSection {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: white;
    gap: 1rem;
}

.imageSection img {
    height: 40vh;
    width: 18vw;
    object-fit: cover;
}

.subPageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    position: relative;
    margin-top: 3vh;
}

/*PROJECT SECTION*/
.projectContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gridContainer {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-content: center;
}

/* Hexagon "gallery" */
.hexagon {
    clip-path: polygon(50% 0, 101% 25%, 101% 75%, 50% 100.07%, 0 75%, 0 25%);
    overflow: hidden;
    grid-column-end: span 2;
    margin: -3vh 1vw;
    transition: transform .2s;
    display: block;
}

.hexagon:hover {
    transform: scale(1.1);
}

.hexagon:nth-child(5n + 1) {
    grid-column-start: 2;
}

.hexStyle{
    background-size: cover;
    background-position: center;
    height: 323px;
    width: 280px;
}

.project1 {
    background-image: url(/Woodlands/media/printScreen.png);   
}

.project2 {
    background-image: url(/media/sabinaandersson.jpg);
}

.project3 {
    background-image: url(/media/sabinaandersson.jpg);
}

.project4 {
    background-image: url(/media/sabinaandersson.jpg);
}

.project5 {
    background-image: url(/media/sabinaandersson.jpg);
}

.project6 {
    background-image: url(/media/sabinaandersson.jpg);
}

.project7 {
    background-image: url(/media/sabinaandersson.jpg);
}

/* Footer */
.footerContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 4rem 5vw 0 5vw;
}

footer {
    background-color: black;
    color: white;
}

.socialMedia {
    display: flex;
    flex-direction: column;
}

.socialMedia a,
.contactContainer a {
    color: white;
    text-decoration: none;
}


.copyright {
    display: flex;
    justify-content: center;
    letter-spacing: 0.5rem;
}


/* Media queries */

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    .sectionContainer {
        width: 90vw;
    }

    .textSection {
        width: 90vw;
    }

    .imageSection {
        width: 90vw;
    }

    .imageSection img {
        width: 25vw;
    }
}


@media screen and (max-width: 920px) {

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    .hexagon {
        clip-path: none;
        height: 150px;
    }

    .gridContainer {
        gap: 4.5rem 0;
    }
}

@media screen and (max-width: 780px) {
    .header {
        height: 15vh;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 3rem;
    }

    h4 {
        font-size: 1.5rem;
    }


    .container img {
        max-width: 7rem;
        max-height: 7rem;
        padding: 1vw;
    }
    .container h3 {
        display: none;
    }

    .hexagon {
        height: 120px;
        width: 380px;
    }

    .gridContainer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .container {
        gap: 0;
        padding: 0;
    }

    .rowContainer {
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .secondHeader .container {
        padding: 0.5rem;
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    i {
        font-size: 2rem;
    }

    .copyright {
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    .imageSection {
        flex-direction: column;
        align-items: center;
    }

    .imageSection img {
        width: 70vw;
        height: 30vh;
    }
}

@media screen and (max-width: 390px) {
    .container img {
        display: none;
    }

    .header {
    height: 3.6rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: left;
    }

    .header h1 {
    font-size: 1rem;
    margin-left: 0.6rem;
    }
    .secondHeader {
        height: 3.6rem;
    }
    h1 {
        font-size: 1.2rem;
    }

    .hexagon {
        height: 120px;
        width: 310px;
    }

    .imageSection img {
        width: 70vw;
        height: 20vh;
    }
}